In [1]:
import pandas as pd
import pandera as pa

In [2]:
valores_ausentes = ['None']
df = pd.read_csv('file.csv', parse_dates=['ocorrencia_data'], dayfirst=True, na_values=valores_ausentes)
df.fillna(0, inplace=True)
df.drop_duplicates(inplace=True)
df.count()

codigo_ocorrencia           10
codigo_ocorrencia2          10
ocorrencia_classificacao    10
ocorrencia_cidade           10
ocorrencia_uf               10
ocorrencia_aerodromo        10
ocorrencia_data             10
ocorrencia_horario          10
dtype: int64

In [3]:
schema = pa.DataFrameSchema({
    "coluna_imaginaria":pa.Column(pa.Int, required=False),
    "codigo_ocorrencia":pa.Column(pa.Int),
    "codigo_ocorrencia2":pa.Column(pa.Int),
    "ocorrencia_classificacao":pa.Column(pa.String, nullable=True),
    "ocorrencia_cidade":pa.Column(pa.String, nullable=True),
    "ocorrencia_uf":pa.Column(pa.String, pa.Check.str_length(2,2)),
    "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
    "ocorrencia_data":pa.Column(pa.DateTime),
    "ocorrencia_horario":pa.Column(pa.String, [pa.Check.str_matches(r'^([0-1]?[0-9]|[2][0-3]):([0-5][0-9])(:[0-5][0-9])?$')])
})

In [4]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
0,1,11,0,Rio de Janeiro,RJ,0,2022-11-01,14:30
1,2,22,Acidente,São Paulo,SP,SBSP,2022-01-02,10:15
2,3,33,Incidente,Belo Horizonte,MG,0,2022-01-03,08:45
3,4,44,Acidente,Recife,PE,SBRF,2022-01-04,16:20
4,5,55,Incidente,Brasília,DF,SBBR,2022-01-05,12:10
5,6,66,Acidente,Porto Alegre,RS,0,2022-01-06,09:05
6,7,77,Incidente,Curitiba,PR,SBCT,2022-01-07,18:30
7,8,88,Acidente,Salvador,BA,SBSV,2022-01-08,11:40
8,9,99,Incidente,Manaus,AM,0,2022-01-09,13:25
9,10,1010,Acidente,Goiânia,GO,SBGO,2022-01-10,15:50

In [5]:
filtro1 = ((df.ocorrencia_classificacao == 0) | (df.ocorrencia_aerodromo == 0))
filtro2 = df.codigo_ocorrencia < 9
df.loc[filtro1 & filtro2, ['ocorrencia_cidade', 'ocorrencia_classificacao', 'ocorrencia_aerodromo']]

  ocorrencia_cidade ocorrencia_classificacao ocorrencia_aerodromo
0    Rio de Janeiro                        0                    0
2    Belo Horizonte                Incidente                    0
5      Porto Alegre                 Acidente                    0

In [24]:
cidades_r = df['ocorrencia_cidade'].str[-1] == 'e'
print(df[cidades_r])

   codigo_ocorrencia  codigo_ocorrencia2 ocorrencia_classificacao  \
2                  3                  33                Incidente
3                  4                  44                 Acidente
5                  6                  66                 Acidente

  ocorrencia_cidade ocorrencia_uf ocorrencia_aerodromo ocorrencia_data  \
2    Belo Horizonte            MG                    0      2022-01-03
3            Recife            PE                 SBRF      2022-01-04
5      Porto Alegre            RS                    0      2022-01-06

  ocorrencia_horario
2              08:45
3              16:20
5              09:05

In [29]:
filtro = df['ocorrencia_cidade'].str.contains('ro|or')
df[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
0,1,11,0,Rio de Janeiro,RJ,0,2022-11-01,14:30
2,3,33,Incidente,Belo Horizonte,MG,0,2022-01-03,08:45
5,6,66,Acidente,Porto Alegre,RS,0,2022-01-06,09:05
7,8,88,Acidente,Salvador,BA,SBSV,2022-01-08,11:40

In [41]:
filtro = df['ocorrencia_data'].dt.year == 2022
filtro2 = df['ocorrencia_data'].dt.month == 11
filtro3 = df['ocorrencia_data'].dt.day == 8

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8    False
9    False
Name: ocorrencia_data, dtype: bool

In [43]:
filtro = df['ocorrencia_data'].dt.day >= 3
filtro2 = df['ocorrencia_data'].dt.day <= 8
df.loc[filtro & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
2,3,33,Incidente,Belo Horizonte,MG,0,2022-01-03,08:45
3,4,44,Acidente,Recife,PE,SBRF,2022-01-04,16:20
4,5,55,Incidente,Brasília,DF,SBBR,2022-01-05,12:10
5,6,66,Acidente,Porto Alegre,RS,0,2022-01-06,09:05
6,7,77,Incidente,Curitiba,PR,SBCT,2022-01-07,18:30
7,8,88,Acidente,Salvador,BA,SBSV,2022-01-08,11:40

In [49]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
0,1,11,0,Rio de Janeiro,RJ,0,2022-11-01,14:30
1,2,22,Acidente,São Paulo,SP,SBSP,2022-01-02,10:15
2,3,33,Incidente,Belo Horizonte,MG,0,2022-01-03,08:45
3,4,44,Acidente,Recife,PE,SBRF,2022-01-04,16:20
4,5,55,Incidente,Brasília,DF,SBBR,2022-01-05,12:10
5,6,66,Acidente,Porto Alegre,RS,0,2022-01-06,09:05
6,7,77,Incidente,Curitiba,PR,SBCT,2022-01-07,18:30
7,8,88,Acidente,Salvador,BA,SBSV,2022-01-08,11:40
8,9,99,Incidente,Manaus,AM,0,2022-01-09,13:25
9,10,1010,Acidente,Goiânia,GO,SBGO,2022-01-10,15:50

In [53]:
filtro = df['ocorrencia_horario'].str.contains('13:')
df[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
8,9,99,Incidente,Manaus,AM,0,2022-01-09,13:25

In [77]:
filtro = df['ocorrencia_classificacao'] == 'Acidente'
filtro2 = df['ocorrencia_classificacao'] == 'Incidente'
df_acidentes = df[filtro]
df_incidentes = df[filtro2]

10

In [105]:
# Criando dataframe do nordeste

filtro_nordeste = df['ocorrencia_uf'].isin(['PE', 'BA', 'SE', 'AL', 'PB', 'RN', 'CE', 'PI', 'MA'])
df_nordeste = df[filtro_nordeste]
df_nordeste

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
3,4,44,Acidente,Recife,PE,SBRF,2022-01-04,16:20
7,8,88,Acidente,Salvador,BA,SBSV,2022-01-08,11:40

In [106]:
# Criando dataframe do norte

filtro_norte = df['ocorrencia_uf'].isin(['AM', 'AC', 'RO', 'PA', 'TO', 'AP', 'RR'])
df_norte = df[filtro_norte]
df_norte

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
8,9,99,Incidente,Manaus,AM,0,2022-01-09,13:25

In [108]:
# Criando dataframe do centro-oeste

filtro_centro_oeste = df['ocorrencia_uf'].isin(['GO', 'DF', 'MS', 'MT'])
df_centro_oeste = df[filtro_centro_oeste]
df_centro_oeste

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_data,ocorrencia_horario
4,5,55,Incidente,Brasília,DF,SBBR,2022-01-05,12:10
9,10,1010,Acidente,Goiânia,GO,SBGO,2022-01-10,15:50